h1, .h1, h2, .h2, h3, .h3  {
    margin-bottom: 20px;
}

.page-banner {
    margin-top: 90px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

// Center cropped image
.centered-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.inside-centered-image {
    padding-top: 8%;
    padding-bottom: 8%;
}

.content {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

#documentation {
    text-align:justify;
    line-height: 1.25;
    font-size: 15px;
    font-weight: 400;
}

#bfm-consortium td {
    padding: 0 20px 0 0;
}

.callout {
    float: right;
    height: auto;
    width: auto;
    padding: 20px;
}

@media(min-width:767px) {
    .callout {
        float: right;
        padding: 20px;
        max-width: 55%;
    }
}
