<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="lead">
        <br><br>
        <h2>What is BFM, exactly?</h2>
        <br>
        <p>The Biogeochemical Flux Model (BFM) is an open source code to
          simulate the dynamics of major biogeochemical properties in
          lower trophic levels of marine
          ecosystems. <a href="bfm-description">Learn more ...</a>
        </p>
        <p>Our mission is to enhance the understanding of worldwide
          marine ecosystem by delivering a modelling framework at best
          of present-day scientific knowledge.</p>
        <br>
      </div>
    </div>
  </div>
</section>
