<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br/><br/>
      <h2 id="about-bfm" class="documentFirstHeading">What is the BFM</h2>
      <p>The Biogeochemical Flux Model (BFM) is a numerical model for
        the simulation of the dynamics of major biogeochemical
        properties in marine ecosystems.</p>
      <p>The BFM is open source software freely available under
        the <a class="external-link"
               href="http://www.gnu.org/licenses/gpl.html">GNU Public
          License</a>. The model description is
        available <a class="internal-link"
                     href="description.html">here</a>.The code
        and the full documentation can be
        downloaded <a class="internal-link"
                      href="documentation.html">here</a>.</p>
      <h3>Members of the BFM agreement</h3>
      <p>The development of the BFM is supported by
        a <a class="internal-link" href="the-bfm-agreement">formal
          agreement</a>. The agreement establishes a program for model
        development that is discussed and prepared every year by the
        participants. Model developments are inserted by the system team
        into the different releases of the model. The agreement is open
        to entrance of more contributors and more information can be
        requested to&nbsp;<a class="mail-link"
                             href="mailto:bfm_st@cmcc.it?subject=Inquire about
                                   BFM">BFM-Community System Team</a></p>
      <p>Current members of the consortium are: CMCC, OGS, UNIBO, UCT, and SYKE.</p>
    </div>
  </div>
</section>
