<section id="contact">
   <div class="banner">
      <div class="container">

         <div class="row">
            <div class="col-lg-8">
               <h4 class="consortium-description">
                 BFM developments follows a program discussed and
                 prepared every year by the members of
                 the <a href="bfm-consortium">Consortium</a>. The
                 agreement is open to entrance of more contributors
                 and futher information can be requested
                 at <a class="mail-link"
                 href="mailto:bfm_st@cmcc.it?subject=Inquire about
                 BFM">BFM Community System Team</a>.
               </h4>
            </div>
         </div>

	       <div class="row">
            <div class="col-lg-8">
	            <h4 class="team-coordinator">Team Coordinator: Marco Zavatarelli (UNIBO DIFA)</h4>
	            <h4 class="scientific-leader">Scientific Leader: Paolo Lazzari (OGS)</h4>
            </div>
	       </div>
       </div>
       <!-- /.container -->
   </div>
</section>
<!-- /.banner -->
