<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<h3>BFM Team Coordinator: Marco Zavatarelli (UNIBO DIFA)</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h3>BFM Scientific Leader: Paolo Lazzari (OGS)</h3>
				</div>
			</div>

      <div class="row">
				<div class="col-lg-12">
          <h4>BFM is based on consortium (short description) + 
            <a href="/the-bfm-agreement">link to details</a></h4>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
