<div class="vertical-spacing" id="contact">
<section>
   <div class="banner">
       <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <font size="5"> Contact the BFM Community </font><br/>
               <h4 class="consortium-description"> <br/>
                 Further information and technical support can be requested to <a class="mail-link" href="mailto:{{ site.email }}?subject={{ site.email_subject }}">BFM System Team</a>. <br/><br/>
                 Team Coordinator: Momme Butenschön (CMCC) <br/>
                 Scientific Leader: Paolo Lazzari (OGS) <br/>
                 <br/>
                 The BFM Community is managed by the <a href="bfm-consortium">Consortium</a> that establishes the program of model development.
		 It is open to the inclusion of more contributors.
               </h4>
            </div>
         </div>
       </div>
       <!-- /.container -->
   </div>
</section>
<!-- /.banner -->
</div> <!-- /.vertical-spacing -->
