<!-- Footer -->
<footer>
  <div class="container">
    <div class="row center-me">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="media">
          <div class="media-left">
            <a href="http://www.cmcc.it">
              <img alt="CMCC-logo" height="68" width="86"
                   src="{{ site.baseurl }}/img/logos/CMCC.png">
              </a>
          </div>
          <div class="media-body">
            Centro Euro-Mediterraneo sui Cambiamenti Climatici (<a
            href="http://www.cmcc.it">CMCC</a>)
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="media">
          <div class="media-left">
            <a href="https://www.sincem.unibo.it/">
              <img alt="UNIBO-logo" height="61" width="62"
                   src="{{ site.baseurl }}/img/logos/UNIBO.png">
            </a>
          </div>
          <div class="media-body">
            Alma Mater Studiorum Università di Bologna
            (<a href="https://www.sincem.unibo.it/">UNIBO
              SINCEM</a>)
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="media">
          <div class="media-left">
            <a href="http://www.ogs.trieste.it">
              <img alt="OGS-logo" height="61" width="120"
                   src="{{ site.baseurl }}/img/logos/OGS.png">
            </a>
          </div>
          <div class="media-body">
            Istituto Nazionale di Oceanografia e di Geofisica
            Sperimentale
            (<a href="http://www.ogs.trieste.it">OGS</a>)
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="media">
          <div class="media-left">
            <a href="http://www.sea.uct.ac.za">
              <img alt="UCT-logo" src="{{ site.baseurl }}/img/logos/UCT.png">
            </a>
          </div>
          <div class="media-body">
            Department of Oceanography, University of Cape Town
            (<a href="http://www.sea.uct.ac.za">UCT</a>)
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="media">
          <div class="media-left">
            <a href="http://www.syke.fi/">
              <img alt="SIKE-logo" height="66"
                   src="{{ site.baseurl }}/img/logos/SYKE.png">
            </a>
          </div>
          <div class="media-body">
            Finnish Environment Institute </br>
            (<a href="http://www.syke.fi/">SYKE</a>)
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <!-- <ul class="list-inline"> -->
        <!--     <li> -->
        <!--       <a href="#home">Home</a> -->
        <!--     </li> -->
        <!--     <li class="footer-menu-divider">&sdot;</li> -->
        <!--     <li> -->
        <!--       <a href="#about">About</a> -->
        <!--     </li> -->
        <!--     <li class="footer-menu-divider">&sdot;</li> -->
        <!--     <li> -->
        <!--       <a href="#services">Services</a> -->
        <!--     </li> -->
        <!--     <li class="footer-menu-divider">&sdot;</li> -->
        <!--     <li> -->
        <!--       <a href="#contact">Contact</a> -->
        <!--     </li> -->
        <!-- </ul> -->
        <p class="copyright text-muted small">{{ site.copyright }}</p>
      </div>

      <!-- <div class="col-md-4"> -->
      <!--     {{ site.credits }} -->
      <!-- </div> -->
    </div>
  </div>
</footer>
