<!-- Footer -->
<footer>
  <table>
    <tbody>
      <tr>
        <th style="text-align: center; ">
          <img alt="CMCC-logo" class="image-inline" height="67"
               src="/img/logos/CMCC.png" style="text-align: center; "
               width="85">
        </th>
        <th style="text-align: center; ">
          <img alt="UNIBO-logo" class="image-inline" height="61"
               src="/img/logos/UNIBO.png" style="text-align: center; "
               width="62">
        </th>
        <th style="text-align: center; ">
          <img alt="OGS-logo" class="image-inline" height="61"
               src="/img/logos/OGS.jpeg" style="text-align:
                                               center; " width="77">
        </th>
        <th style="text-align: center; ">
          <img alt="UCT-logo" class="image-inline"
               src="/img/logos/UCT.png" style="text-align: center; ">
        </th>
        <th style="text-align: center; ">
          <img alt="SIKE-logo" class="image-inline" height="65"
               src="/img/logos/SYKE.png"></th>
      </tr>
      <tr>
        <td style="text-align: center; ">Centro Euro-Mediterraneo sui Cambiamenti Climatici (<a class="external-link" href="http://www.cmcc.it">CMCC</a>)</td>
        <td style="text-align: center; "><span style="text-align: center; ">Dipartimento di Fisica e Astronomia, Alma Mater Studiorum Università di </span><span class="selectlang" style="text-align: center; ">Bologna (</span><a class="external-link" href="http://www.physics-astronomy.unibo.it/">UNIBO DIFA</a>)</td>
        <td style="text-align: center; "><span style="text-align: center; ">Istituto Nazionale di Oceanografia e di Geofisica Sperimentale (</span><a class="external-link" href="http://www.ogs.trieste.it">OGS</a>)</td>
        <td style="text-align: center; ">Department of Oceanography, University of Cape Town (<a class="external-link" href="http://www.sea.uct.ac.za">UCT</a>)</td>
        <td style="text-align: center; ">Finnish Environment Institute (<a class="external-link" href="http://www.syke.fi/">SYKE</a>)</td>
      </tr>
    </tbody>
  </table>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
